@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
li,
a,
i {
  display: inline-block;
}

/* Swiper Slider */
.swiper-pagination-bullet {
  width: 11px !important ;
  height: 11px !important;
}
.swiper-pagination-bullet-active {
  background-color: #00bcd4 !important;
}

/* .container {
  @apply xl:w-[1120px] m-auto;
} */

/* Top Header */

/* Navbar */
.navbar ul li a {
  @apply text-primary-color text-text-color-black2 text-base font-semibold;
}

/* Footer */
.footer .link li a {
  @apply text-base text-text-color-white font-normal hover:text-primary-color;
}
.footer .column1 li a i {
  @apply text-white text-xl w-11 h-11 bg-white bg-opacity-30 rounded-full flex justify-center items-center;
}

/* Appointment Section */
.appointment-section .appointment-form .group {
  @apply flex flex-col;
}
.appointment-section .appointment-form .group label {
  @apply text-xs font-semibold text-text-color-white uppercase mb-3;
}
.appointment-section .appointment-form .group input,
select,
textarea {
  @apply bg-inherit outline-none border-b border-secondary-text-color3 placeholder:text-secondary-text-color3 text-text-color-white placeholder:text-secondary-text-color3 text-sm font-medium  py-3 focus:border-text-color-white;
}

.appointment-section .appointment-form .group select {
  @apply bg-primary-color;
}
